<label>Login:</label>
<input type="text" class="form-control" ng-model="login" />
<label>Password:</label>
<input type="password" class="form-control" ng-model="password" />
<button ng-click="register(login, password)">Зарегистрироваться</button>