<div>Login:</div>
<input type="text" class="form-control" ng-model="login" />
<div>Password:</div>
<input type="password" class="form-control" ng-model="password" />
<button ng-click="register(login, password)"></button>